.profile__profile-info {
  margin: 0;
  padding: 0 0 0 30px;
  max-width: 336px;
}

@media screen and (max-width: 890px) {
  .profile__profile-info {
    padding-left: 0;
    width: 100%;
  }
}
