.elements__group {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url("../../../images/Vector_heart.svg");
  background-repeat: no-repeat;
  background-size: 22px 19px;
  background-position: 0;
}
