.popup__profile-subtitle_width_field {
  width: 358px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 9px;
}

@media screen and (max-width: 890px) {
  .popup__profile-subtitle_width_field {
    width: 238px;
  }
}
